h1 {color: rgb(68, 3, 68);
}
h2{
    color: rgb(148, 5, 148);

}

body{
    background-color: #EEE6F4;
}

img{
    height: 200px;
    border-radius: 5%;
    align-items: center;
}
.svarbu
{
    background-color: rgb(161, 106, 212);
    font-size: 0.75cm;
    color:white;
}
.nesvarbu
{
    font-size: 0.5cm;
}
#duomenys
{
    color:white;
    text-align: right;
    background-color: rgb(68, 3, 68);;
    font-size: 0.5cm;

}